---
openapi: 3.0.0
info:
  title: Account API
  description: |
    The Account API allows you to open and manage retirement accounts for your
    clients. You can use this API to open a retirement account, get account
    details, get pending tasks for an account, and get the status of an account.
  version: 1.0.0
servers:
  - url: "https://sandbox.featherhq.com"
paths:
  "/accounts":
    post:
      summary: Open a retirement account
      description: |
        Open a retirement account for a client. The account will be opened with
        the specified account type and the account holder will be the client
        associated with the specified external ID.
      parameters:
        - $ref: "#/components/parameters/apiKeyHeader"
      requestBody:
        description: JSON request body for account opening
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountOpeningRequest"
      responses:
        "200":
          description: Account opening successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountOpeningResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  "/accounts/{account_id}":
    get:
      summary: Get account details
      description: |
        Get details for a retirement account by account ID. The account details
        include the account holder information, account balance, recent
        transactions, and beneficiary information.
      parameters:
        - $ref: "#/components/parameters/apiKeyHeader"
        - in: path
          name: account_id
          required: true
          description: Unique identifier for the account
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInfo"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Account not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  "/accounts/pending_tasks/{account_id}":
    get:
      summary: Get pending tasks for an account
      description: |
        Get pending tasks for a retirement account by account ID. The pending
        tasks include any tasks that need to be completed before the account can
        be opened.
      parameters:
        - $ref: "#/components/parameters/apiKeyHeader"
        - in: path
          name: account_id
          required: true
          description: Unique identifier for the account
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PendingTasksResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Account not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  "/accounts/account_status/{account_id}":
    get:
      summary: Get account status
      description: |
        Get the status of a retirement account by account ID. The account status
        can be one of the following:
        - `A`: Abandoned - The account has been abandoned.
        - `N`: New - The account is not yet open.
        - `O`: Open - The account is currently open.
        - `C`: Closed - The account has been closed.
        - `P`: Pending - The account is not yet open and is pending approval.
        - `R`: Rejected - The account has been rejected and is not open.
      parameters:
        - $ref: "#/components/parameters/apiKeyHeader"
        - in: path
          name: account_id
          required: true
          description: Unique identifier for the account
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountStatus"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Account not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  "/accounts//documents/{account_id}":
    get:
      summary: Get documents
      description: "Retrieve a list of documents available for a specific account.\n\n
      **Please note**: This endpoint is currently under migration and will be available soon."
      parameters:
        - $ref: "#/components/parameters/apiKeyHeader"
        - in: path
          name: account_id
          required: true
          description: The ID of the account for which documents are to be retrieved.
          schema:
            type: string
      responses:
        "200":
          description: Successful response with a list of documents.
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items:
                      $ref: "#/components/schemas/Document"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  "/accounts/{account_id}/ira-limits/{account_type}":
    parameters:
      - $ref: "#/components/parameters/apiKeyHeader"
      - in: path
        name: account_id
        required: true
        description: The ID of the account for which annual limits are to be retrieved.
        schema:
          type: string
      - in: path
        name: account_type
        required: true
        description: The type of IRA account for which to retrieve annual contribution limits.
        schema:
          type: string
          enum: ["IRA", "ROTH_IRA", "CATCHUP_IRA", "CATCHUP_ROTH_IRA"]
      - in: query
        name: year
        description: Optional. The year for which to retrieve annual contribution limits. Defaults to the current financial year.
        schema:
          type: integer
          format: int32
    get:
      summary: Get Annual IRA Contribution Limits
      description: >
        Retrieve the annual contribution limits for the specified IRA account, type and year.
      responses:
        "200":
          description: Successful response with annual contribution limits.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IRAContributionLimits"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  "/accounts/portfolio/{account_id}":
    get:
      summary: Get Portfolio
      description: Get current portfolio of the account.
      parameters:
        - $ref: "#/components/parameters/apiKeyHeader"
        - name: account_id
          in: path
          required: true
          description: The account ID
          schema:
            type: string
      responses:
        "200":
          description: Account opening successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PositionsResponseObject"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  parameters:
    apiKeyHeader:
      name: x-api-key
      in: header
      required: true
      schema:
        type: string
      description: API Key for authentication
  schemas:
    Name:
      type: object
      properties:
        first_name:
          type: string
          description: First name of the person
        middle_name:
          type: string
          description: Middle name of the person
        last_name:
          type: string
          description: Last name of the person
        salutation:
          type: string
          description: Salutation or title (e.g., Mr., Mrs., Dr.)
      required:
        - first_name
        - last_name
    PhoneNumber:
      type: object
      properties:
        phone_type:
          type: string
          enum:
            - Mobile
            - Home
            - Work
            - Fax
            - Business
          description: Type of phone number (e.g., Mobile, Home, Work)
        number:
          type: string
          description: Phone number
        country:
          type: string
          description: Country code for the phone number
      required:
        - phone_type
        - number
        - country
    Address:
      type: object
      properties:
        street_1:
          type: string
          description: First line of the street address
        street_2:
          type: string
          description: Second line of the street address
        city:
          type: string
          description: City or locality
        state:
          type: string
          description: "State or province. Ex: US-WA "
        postal_code:
          type: string
          description: Postal code or ZIP code
        country:
          type: string
          description: Country name
        address_type:
          type: string
          description: Type of address (e.g., Residential, Mailing)
      required:
        - street_1
        - city
        - state
        - postal_code
        - country
    Transaction:
      type: object
      properties:
        transaction_id:
          type: string
          description: Unique identifier for the transaction
        date:
          type: string
          format: date-time
          description: Date and time of the transaction
        description:
          type: string
          description: Description or details of the transaction
        amount:
          type: number
          description: Transaction amount
        currency:
          type: string
          description: Currency in which the transaction amount is denominated
      required:
        - transaction_id
        - date
        - description
        - amount
        - currency
    PendingTasks:
      type: object
      properties:
        count:
          type: integer
          description: Number of pending tasks
        account_id:
          type: string
          description: Unique identifier for the account
        pending_tasks:
          type: array
          items:
            $ref: "#/components/schemas/PendingTask"
      required:
        - count
        - account_id
        - pending_tasks
    AccountStatus:
      type: object
      properties:
        account_id:
          type: string
          description: Unique identifier for the account
        account_status:
          type: string
          enum:
            - A
            - N
            - O
            - C
            - P
            - R
          description: Enum representing the status of retirement accounts (e.g., IRA).
        account_state:
          type: string
          enum:
            - IncompleteApplication
            - DocumentsRequired
            - UnderReview
            - PendingApproval
          description: Additional account state information (e.g., Incomplete Application, Under Review)
      required:
        - account_id
        - account_status
    PendingTask:
      type: object
      properties:
        action:
          type: string
          description: Action associated with the pending task (e.g., Approve, Review)
        form_no:
          type: string
          description: Unique identifier for the form related to the task
        is_online_task:
          type: boolean
          description: Indicates whether the task is an online task
        requires_manual_verification:
          type: boolean
          description: Indicates if manual verification is required
        form_name:
          type: string
          description: Name or description of the form
        identification_url:
          type: string
          description: URL for accessing identification information related to the task
        identification_url_expiry:
          type: string
          format: date-time
          description: Expiry date and time for the identification URL
      required:
        - action
        - form_no
        - is_online_task
        - form_name
        - identification_url
        - identification_url_expiry 
    AccountOpeningResponse:
      type: object
      properties:
        message:
          type: string
          description: A response message indicating success or failure
    Error:
      type: object
      properties:
        message:
          type: string
          description: A description of the error
    Document:
      type: object
      properties:
        document_id:
          type: string
          description: The unique identifier for the document.
        document_name:
          type: string
          description: The name or title of the document.
        document_type:
          type: string
          description: The type or category of the document.
        upload_date:
          type: string
          format: date-time
          description: The date and time when the document was uploaded.
    AccountInfo:
      type: object
      properties:
        accountAlias:
          type: string
          description: The account alias
        capabilities:
          type: object
          properties:
            requested:
              type: array
              items:
                type: string
          description: Requested capabilities
        investmentExperience:
          type: object
          properties:
            STOCKS:
              type: object
              properties:
                knowledgeLevel:
                  type: string
                  description: Knowledge level for stocks
                yearsTrading:
                  type: string
                  description: Years of trading stocks
                tradesPerYear:
                  type: string
                  description: Number of trades per year
          description: Investment experience details for stocks
        description:
          type: string
          description: Account description
        acctId:
          type: string
          description: Account ID
        type:
          type: string
          description: Account type
        title:
          type: string
          description: Account title
        users:
          type: array
          items:
            type: string
          description: List of users associated with the account
        signatures:
          type: array
          items:
            type: string
          description: List of signatures
        taxResidency:
          type: array
          items:
            type: object
            properties:
              taxId:
                type: string
                description: Tax ID
              taxCountry:
                type: string
                description: Tax country
              taxIdType:
                type: string
                description: Tax ID type
          description: Tax residency information
        derivatives:
          type: object
          properties:
            requested:
              type: array
              items:
                type: string
          description: Requested derivatives
        custInfo:
          type: object
          properties:
            state_of_legal_res:
              type: string
              description: State of legal residence
            date_of_birth:
              type: string
              format: date
              description: Date of birth (YYYY-MM-DD)
            citizenship:
              type: string
              description: Citizenship
            country_of_birth:
              type: string
              description: Country of birth
            country_of_legal_res:
              type: string
              description: Country of legal residence
          description: Customer information
        emailAddress:
          type: string
          format: email
          description: Email address
        identificationDetails:
          type: object
          properties:
            id_number:
              type: string
              description: Identification number
            id_issuing_country:
              type: string
              description: Issuing country
            id:
              type: string
              description: Identification type
          description: Identification details
        isError:
          type: boolean
          description: Indicates whether there is an error
        regulatoryDetails:
          type: object
          properties:
            regulatory_regulatory_control:
              type: string
              description: Regulatory control
            reg_affiliation:
              type: string
              description: Regulatory affiliation
          description: Regulatory details
        applicantType:
          type: string
          description: Applicant type
        entities:
          type: array
          items:
            type: object
            properties:
              name:
                type: object
                properties:
                  last:
                    type: string
                    description: Last name
                  salutation:
                    type: string
                    description: Salutation
                  first:
                    type: string
                    description: First name
                description: Name details
              association:
                type: array
                items:
                  type: string
                description: Association details
              phones:
                type: array
                items:
                  type: object
                  properties:
                    number:
                      type: string
                      description: Phone number
                    country:
                      type: string
                      description: Phone country
                    type:
                      type: string
                      description: Phone type
                description: Phone details
              external_id:
                type: string
                description: External ID
              type:
                type: string
                description: Entity type
              residence:
                type: object
                properties:
                  country:
                    type: string
                    description: Residence country
                  city:
                    type: string
                    description: Residence city
                  postalCode:
                    type: string
                    description: Residence postal code
                  street1:
                    type: string
                    description: Residence street address
                  state:
                    type: string
                    description: Residence state
                description: Residence details
              users:
                type: array
                items:
                  type: string
                description: List of users associated with the entity
          description: List of entities
        investmentObjectives:
          type: array
          items:
            type: string
          description: List of investment objectives
        mifidCategory:
          type: string
          description: MiFID category
        sowList:
          type: array
          items:
            type: string
          description: List of SOWs
        financialData:
          type: object
          properties:
            annualNetIncome:
              type: string
              description: Annual net income
            netWorth:
              type: string
              description: Net worth
            liquidNetWorth:
              type: string
              description: Liquid net worth
          description: Financial data
        status:
          type: string
          description: Account status
    PendingTasksResponse:
      type: object
      properties:
        count:
          type: integer
          description: The number of pending tasks
        account_id:
          type: string
          description: The account ID
        pending_tasks:
          type: array
          items:
            $ref: '#/components/schemas/PendingTask'
          description: List of pending tasks
    AccountOpeningRequest:
      type: object
      properties:
        external_id:
          type: string
          description: External ID of the customer
        prefix:
          type: string
          description: Prefix for the customer. Feather will provide one for your application.
        customer:
          type: object
          properties:
            account_holder:
              type: object
              properties:
                account_holder_details:
                  type: object
                  properties:
                    name:
                      type: object
                      properties:
                        first_name:
                          type: string
                          description: First name of the account holder
                        last_name:
                          type: string
                          description: Last name of the account holder
                        salutation:
                          type: string
                          description: Salutation of the account holder
                      description: Name details of the account holder
                    country_of_birth:
                      type: string
                      description: Country of birth of the account holder
                    date_of_birth:
                      type: string
                      format: date
                      description: Date of birth of the account holder (YYYY-MM-DD)
                    email:
                      type: string
                      format: email
                      description: Email of the account holder
                    num_dependents:
                      type: integer
                      description: Number of dependents
                    address:
                      type: object
                      properties:
                        street_1:
                          type: string
                          description: First line of the street address
                        street_2:
                          type: string
                          description: Second line of the street address
                        city:
                          type: string
                          description: City or locality
                        state:
                          type: string
                          description: "State or province. Ex: US-WA "
                        postal_code:
                          type: string
                          description: Postal code of the account holder
                        country:
                          type: string
                          description: Country of the account holder
                      description: Address details of the account holder
                    same_mail_address:
                      type: boolean
                      description: Indicates if the mailing address is the same. If false, please provide the mailing address.
                    mailing_address:
                      type: object
                      properties:
                        street_1:
                          type: string
                          description: First line of the mailing street address
                        street_2:
                          type: string
                          description: Second line of the mailing street address
                        city:
                          type: string
                          description: City or locality
                        state:
                          type: string
                          description: "State or province. Ex: US-WA "
                        postal_code:
                          type: string
                          description: Postal code of the account holder
                        country:
                          type: string
                          description: Country of the account holder
                      description: Mailing Address details of the account holder
                    
                    marital_status:
                      type: string
                      enum:
                        - S
                        - M
                        - D
                        - W
                        - C
                      description: |
                        Marital status of the account holder. The marital account status
                        can be one of the following:
                        - `S`: Single
                        - `M`: Married
                        - `D`: Divorced
                        - `W`: Widowed
                        - `C`: Common Law Partner
                    phone:
                      type: object
                      properties:
                        phone_type:
                          type: string
                          enum:
                            - Mobile
                            - Home
                            - Work
                            - Fax
                            - Business
                          description: Type of phone
                        number:
                          type: string
                          description: Phone number
                        country:
                          type: string
                          description: Phone country
                      description: Phone details of the account holder
                    identification:
                      type: object
                      properties:
                        citizenship:
                          type: string
                          description: Citizenship of the account holder
                        issuing_country:
                          type: string
                          description: Issuing country for identification
                        identification_type:
                          type: string
                          description: Type of identification. It's always SSN
                        identification_num:
                          type: string
                          description: Identification number
                      description: Identification details of the account holder
                    tax_residency:
                      type: object
                      properties:
                        country:
                          type: string
                          description: Tax residency country
                        identification_num:
                          type: string
                          description: Tax residency identification number
                      description: Tax residency details
                    employment_type:
                      type: string
                      enum:
                        - EMPLOYED
                        - SELFEMPLOYED
                        - ATHOMETRADER
                      description: Type of employment
                    employment_details:
                      type: object
                      properties:
                        employer:
                          type: string
                          description: Employer name
                        employer_business:
                          type: string
                          description: Business of the employer
                        occupation:
                          type: string
                          description: Occupation of the account holder
                        employer_address_country:
                          type: string
                          description: Employer address country
                        employer_address_state:
                          type: string
                          description: Employer address state
                        employer_address_city:
                          type: string
                          description: Employer address city
                        employer_address_postal_code:
                          type: string
                          description: Employer address postal code
                        employer_address_street:
                          type: string
                          description: Employer address street
                      description: Employment details
                    w9:
                      type: object
                      properties:
                        correct_tin_shown:
                          type: boolean
                          description: Indicates if correct TIN is shown
                        not_subject_backup_withholding:
                          type: boolean
                          description: Indicates if not subject to backup withholding
                        us_person:
                          type: boolean
                          description: Indicates if the account holder is a US person
                  description: Account holder details
                financial_information:
                  type: object
                  properties:
                    investment_experience:
                      type: array
                      items:
                        type: object
                        properties:
                          asset_class:
                            type: string
                            enum:
                              - STK
                            description: Asset class
                          knowledge_level:
                            type: string
                            enum:
                              - None
                              - Limited
                              - Good
                              - Extensive
                            description: Knowledge level
                          trades_per_year:
                            type: integer
                            description: Number of trades per year
                          years_trading:
                            type: integer
                            description: Years of trading
                      description: Investment experience details
                    sources_of_wealth:
                      type: array
                      items:
                        type: object
                        properties:
                          source_type:
                            type: string
                            enum:
                              - SOW-IND-Allowance
                              - SOW-IND-Disability
                              - SOW-IND-Income
                              - SOW-IND-Inheritance
                              - SOW-IND-Interest
                              - SOW-IND-MarketProfit
                              - SOW-IND-Pension
                              - SOW-IND-PropertySale
                            description: Source type
                          is_used_for_funds:
                            type: boolean
                            description: Indicates if the source is used for funds
                          percentage:
                            type: integer
                            description: Percentage of the source
                      description: Sources of wealth details
                    annual_net_income:
                      type: integer
                      description: Annual net income
                    liquid_net_worth:
                      type: integer
                      description: Liquid net worth
                    net_worth:
                      type: integer
                      description: Net worth
                  description: Financial information
          description: Account holder information
        accounts:
          type: object
          properties:
            external_id:
              type: string
              description: Unique ID of the account holder
            account_type:
              type: string
              description: Type of the account
            investment_objectives:
              type: array
              items:
                type: string
              description: List of investment objectives
            ira_beneficiaries:
              type: array
              items:
                type: object
                properties:
                  spouse_primary_beneficiary:
                    type: boolean
                    description: Indicates if the spouse is the primary beneficiary
                  first_name:
                    type: string
                    description: First name of the beneficiary
                  last_name:
                    type: string
                    description: Last name of the beneficiary
                  salutation:
                    type: string
                    description: Salutation of the beneficiary
                  date_of_birth:
                    type: string
                    format: date
                    description: Date of birth of the beneficiary (YYYY-MM-DD)
                  address:
                    type: object
                    properties:
                      street_1:
                        type: string
                        description: Street address of the beneficiary
                      city:
                        type: string
                        description: City of the beneficiary
                      state:
                        type: string
                        description: State of the beneficiary
                      postal_code:
                        type: string
                        description: Postal code of the beneficiary
                      country:
                        type: string
                        description: Country of the beneficiary
                  same_mail_address:
                    type: boolean
                    description: Indicates if the mailing address is the same
                  mailing_address:
                    type: object
                    properties:
                      street_1:
                        type: string
                        description: Street address of the beneficiary
                      city:
                        type: string
                        description: City of the beneficiary
                      state:
                        type: string
                        description: State of the beneficiary
                      postal_code:
                        type: string
                        description: Postal code of the beneficiary
                      country:
                        type: string
                        description: Country of the beneficiary
                  identification:
                    type: object
                    properties:
                      citizenship:
                        type: string
                        description: Citizenship of the beneficiary
                      issuing_country:
                        type: string
                        description: Issuing country for identification
                      identification_type:
                        type: string
                        description: Type of identification. It's always SSN
                      identification_num:
                        type: string
                        description: Identification number
                  relationship:
                    type: string
                    description: Relationship to the account holder
                  external_id:
                    type: string
                    description: External ID of the beneficiary
                description: Beneficiary details
          description: Account details
        documents:
          type: object
          properties:
            document_id:
              type: object
              properties:
                exec_ts:
                  type: string
                  description: Execution timestamp
                exec_login_ts:
                  type: string
                  description: Execution login timestamp
                signed_by:
                  type: string
                  description: Signed by
    IRAContributionLimits:
      type: object
      properties:
        account_type:
          type: string
          description: The type of IRA account.
        year:
          type: integer
          format: int32
          description: The year for which the contribution limits are provided.
        annual_limit_individual:
          type: number
          description: The annual contribution limit for an individual.
        annual_limit_catchup:
          type: number
          description: The annual catch-up contribution limit (if applicable).
    PositionsResponseObject:
      type: object
      properties:
        cash_value:
          type: number
          description: Cash value
        positions:
          type: array
          items:
            $ref: '#/components/schemas/Position'
          description: List of positions
    Position:
      type: object
      properties:
        quantity:
          type: number
          description: Quantity of the position
        avg_fill_price:
          type: number
          description: Average fill price of the position
        symbol:
          type: string
          description: Symbol of the position








