openapi: 3.0.0
info:
  title: Trading API
  description: API for trading operations
  version: 1.0.0
servers:
  - url: "https://sandbox.featherhq.com"
paths:
  /trading/order/{order_id}:
    get:
      summary: Get Order Details
      description: Get details of a specific order by its order ID.
      parameters:
        - $ref: "#/components/parameters/apiKeyHeader"
        - name: order_id
          in: path
          required: true
          description: The order ID
          schema:
            type: string
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderResponseObject"
        400:
          description: Bad request

  /trading/order:
    post:
      summary: Post Order
      description: Place a new trading order.
      parameters:
        - $ref: "#/components/parameters/apiKeyHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderRequestObject"
      responses:
        200:
          description: Successful response
        400:
          description: Bad request

components:
  parameters:
    apiKeyHeader:
      name: x-api-key
      in: header
      required: true
      schema:
        type: string
      description: API Key for authentication
  schemas:
    OrderRequestObject:
      type: object
      properties:
        order_qty:
          type: integer
          description: Quantity of the order.
          example: 100
        order_symbol:
          type: string
          description: Symbol of the order.
          example: MSFT
        order_direction:
          type: string
          enum: [BUY, SELL]
          description: Direction of the order (BUY/SELL).
          example: BUY
        account_id:
          type: string
          description: Unique identifier for the account.
          example: AB1234

    OrderResponseObject:
      type: object
      properties:
        order_uuid:
          type: string
          description: Unique identifier for the order.
          example: abcd-1234-efgh-5678
        order_qty:
          type: integer
          description: Quantity of the order.
          example: 100
        order_symbol:
          type: string
          description: Symbol of the order.
          example: MSFT
        order_type:
          type: string
          enum: [MKT, LMT]
          description: Type of the order.
          example: MKT
        order_currency:
          type: string
          description: Currency of the order.
          example: USD
        order_direction:
          type: string
          enum: [BUY, SELL]
          description: Direction of the order (BUY/SELL).
          example: BUY
        order_status:
          type: string
          enum: ["Received", "Pending", "Filled", "Rejected", "Error"]
          description: Status of the order (Received).
          example: Received
        account_id:
          type: string
          description: Unique identifier for the account.
          example: AB1234
        order_sec_type:
          type: string
          enum: [STK]
          description: Security type of the order (STK).
          example: STK
