openapi: 3.0.0
info:
  title: Trading API
  description: API for trading operations
  version: 1.0.0
servers:
  - url: "https://sandbox.featherhq.com"
paths:
  /portfolio/{account_id}:
    get:
      summary: Get Portfolio
      description: Get current portfolio of the account.
      parameters:
        - $ref: "#/components/parameters/apiKeyHeader"
        - name: account_id
          in: path
          required: true
          description: The account ID
          schema:
            type: string
      responses:
        200:
          description: Successful response
        400:
          description: Bad request

  /trading/place_orders/{order_id}:
    get:
      summary: Get Order Details
      description: Get details of a specific order by its order ID.
      parameters:
        - $ref: "#/components/parameters/apiKeyHeader"
        - name: order_id
          in: path
          required: true
          description: The order ID
          schema:
            type: string
      responses:
        200:
          description: Successful response
        400:
          description: Bad request

  /trading/place_orders:
    post:
      summary: Place Order
      description: Place a new trading order.
      parameters:
        - $ref: "#/components/parameters/apiKeyHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_qty:
                  type: integer
                  description: The quantity of the order
                order_symbol:
                  type: string
                  description: The symbol of the security for the order
                order_direction:
                  type: string
                  enum: [BUY, SELL]
                  description: The direction of the order (BUY or SELL)
                account_id:
                  type: string
                  description: The account ID for which the order is placed
      responses:
        200:
          description: Successful response
        400:
          description: Bad request

  /health:
    get:
      summary: Health Check
      description: Check the health of the application.
      responses:
        200:
          description: Ok

components:
  parameters:
    apiKeyHeader:
      name: x-api-key
      in: header
      required: true
      schema:
        type: string
      description: API Key for authentication
